{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/table.css' %}">
    <title>User Table</title>
</head>
<body>
    <h1> User table</h1>
    <table id="users">
        <tr>
            <th> Name</th>
            <th> DOB </th>
            <th> Address </th>
            <th> Aadhar </th>
            <th> Temp </th>
            <th> SpO2 </th>
        </tr> 
        {% for user in users %}
        <tr>
            <td>{{user.Name}}</td>
            <td>{{user.DOB}}</td>  
            <td>{{user.Address}}</td>
            <td>{{user.Aadhar}}</td>
            <td>{{user.Temp}}</td>  
            <td>{{user.SpO2}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>