body{
    background-color: #0039d4;
    color: #f2f2f2;
}
#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr {
      background-color: #f2f2f2;
      color: rgb(15, 13, 13);
    }
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #030503;
    color: white;
  }